form{
		background-image:conic-gradient(#990066,#6699CC,#FF00CC,#663399, red, green);
		width: 40%;
		border-color: red;
		border-radius: 6px;
		margin: 50px 380px;
		border: 6px solid grey;
		
		}
		label{
			margin: 10px;
			display: inline-block;
			padding: 4px;
			width: 100px;
			font-family: cursive;
			font-size: 20px;

		}
		h1{
			text-align: center;
			color: #00FF99;
			font-family: cursive;
			te
		}
		input{
			border-width: 3px;
			border-radius: 7px;
			width: 30px 100px;
			font-family: cursive;
			font-size: 15px;
		}
		#submit{
			width: 100px;
			margin: 10px 180px;
			background-color: green;
		}
		body{
		 background-image:linear-gradient(90deg,  #990066, red, green);
	}